*.env
!.env.example

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

# fastembed model cache
.cache/
local_cache/

qdrant_storage/
redis_data/

.idea/
.DS_Store
config.bat
node_modules
